@font-face {
  font-family: 'cairo';
  src: url(Cairo-Regular.ttf) ;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'cairo';
}
canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#dodging-bullets-page {
  position: fixed;
  left: 90%;
  top: 30%;
}

#gonna-do-here-page-2 {
  position: fixed;
  left: 80%;
  top: 80%;
}

#gonna-do-here-page {
  position: fixed;
  right: 80%;
  top: 80%;
}

#label-everything-page {
  position: fixed;
  right: 85%;
  bottom: 70%;
}

#youre-ducking-page {
  position: fixed;
  right: 85%;
  top: 80%;
}

#what-you-want-page-2 {
  position: fixed;
  right: 80%;
  top: 80%;
}

#label-everything-page-2 {
  position: fixed;
  left: 80%;
  bottom: 80%;
}

#what-you-want-page {
  position: fixed;
  left: 37%;
  top: 30%;
}

#splash-page {
  position: fixed;
  left: 80%;
  bottom: 80%;
}
/*next set, missing the bullets page*/
#dodging-bullets-page-2 {
  position: fixed;
  right: 80%;
  bottom: 80%;
}

#nothing-to-prove-page {
  position: fixed;
  left: 80%;
  bottom: 80%;
}

#youre-ducking-page-2 {
  position: fixed; 
  right: 80%;
  top: 80%;
}

#knife-behind-back-page{
  position: fixed;
  left: 80%;
  top: 80%;
}

#knife-behind-back-page-2 {
  position: fixed;
  right: 90%;
  bottom: 60%;
}

#CALL-IT-page {
  position: fixed;
  left: 80%;
  top: 80%;
}

#nothing-to-prove-page-2 {
  position: fixed;
  right: 80%;
  top: 60%;
}

#words-and-judgements-page {
  position: fixed;
  left: 80%;
  top: 60%;
}

#CALL-IT-page-2 {
  position: fixed;
  right: 98%;
  bottom: 96%;
}

#dont-conform-page {
  position: fixed;
  right: 98%;
  top: 96%;
}

#words-and-judgements-page-2 {
  position: fixed;
  right: 90%;
  top: 20%
}

#style-and-listen-page {
  position: fixed;
  left: 90%;
  top: 40%;
}

#dont-conform-page-2 {
  position: fixed;
  right: 80%;
  top: 80%;
}

#rat-race-ladder-page {
  position: fixed;
  left: 80%;
  top: 80%;
}

#style-and-listen-page-2 {
  position: fixed;
  right: 90%;
  top: 80%;
}

#splash-page-2 {
  position: fixed;
  left: 90%;
  top: 30%;
}